# This style of ignore creates a whitelist instead of a blacklist so that we
# don't have to continually add new files here so that Docker ignores them.
*
!/Cargo.*
!/migrations/
!/src/

# Send all of src/ except for this directory which contains various resources
# that aren't needed outside of the test suite.
/src/test_documents/
